.background{
    background-color: rgba(10, 9, 9, 1);
    background-image: linear-gradient(78deg, rgba(10, 9, 9, 1) 9%, rgba(33, 46, 72, 1) 100%);
    height: 100%;
}

.popular-movies-heading{
    padding-top: 100px;
    color: white;
}